# CMake & Build artifacts
build/
dist/
out/
.cache/
CMakeCache.txt
CMakeFiles/
compile_commands.json

# Compiled objects & binaries
*.o
*.exe
*.dll
*.lib
*.py
*.log
*.txt

# IDE (VS Code, Visual Studio)
.vscode/
.vs/
dist_*/